<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/formDeCarrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&family=PT+Sans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/be6f779264.js" crossorigin="anonymous"></script>
</head>
<header>
    <div class="iconos">
        
    </div>
    <header>
        <div class="iconos">
            <a href=""><i class="fas fa-arrow-left"></i></a>
            <a href=""><i id="carro" class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="desktop lupa">
            <img id="logo" src="../images/logo-proyectoV2.jpg" alt="logo" >
                <form action="/resultado-busqueda">    
                    <label for="search-bar">
                    <input type="text" name="search-bar" id="search-bar" placeholder="busqueda..."> <p id="busqueda"></p>
                    
                </label>
            </form>
            <i class="fas fa-search" ></i>
            <div class="iconosDesktop">
            <a  href="/formulario"><i id="links" class="fas fa-portrait"></i></a>
            <a  href="/carrito"><i id="links"  class="fas fa-shopping-cart"></i></a>
            </div>
        </div>  
        <div class="desktop">
            <a class="barra-de-cate" href=""><h2>Home</h2></a>
            <a class="barra-de-cate" href=""><h2>Categoria 1</h2></a>
            <a class="barra-de-cate" href=""><h2>Categoria 2</h2></a>
            <a class="barra-de-cate" href=""><h2>Categoria 3</h2></a>
    
        </div>
    </header>
<body>
    <main>
        <div class="linea">
            
        </div>
        <div class="productos">
            <div class="producto-hijo">
                    <img id="img-main" src="./images/gin.jpg">
                <div>
                    <div class="descripcion-precio"> 
                        <p class="descripcion">GIN BOMBAY SAPPHIRE 47° 750ml</p>
                    </div>
                
                    <div class="input-mas-menos">
                         <i class="fas fa-plus"></i> <input id="input-mas-menos" type="text" name="mas-menos"><i class="fas fa-minus"></i>
                    </div>
                </div>
               <div class="precio" >
                    <p class="descripcion-precio">$750</p>   
               </div>
                <div class="tacho">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="producto-hijo">
                    <img id="img-main" src="./images/gin.jpg">
                <div>
                    <div class="descripcion-precio"> 
                        <p class="descripcion">GIN BOMBAY SAPPHIRE 47° 750ml</p>
                    </div>
            
                    <div class="input-mas-menos">
                        <i class="fas fa-plus"></i> <input id="input-mas-menos" type="text" name="mas-menos"><i class="fas fa-minus"></i>
                    </div>
                </div>
                 <div class="precio" >
                    <p class="descripcion-precio">$750</p>   
                </div>
                <div class="tacho">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="producto-hijo">
                    <img id="img-main" src="./images/gin.jpg">
                <div>
                    <div class="descripcion-precio"> 
                        <p class="descripcion">GIN BOMBAY SAPPHIRE 47° 750ml</p>
                    </div>
            
                    <div class="input-mas-menos">
                        <i class="fas fa-plus"></i> <input id="input-mas-menos" type="text" name="mas-menos"><i class="fas fa-minus"></i>
                    </div>
                </div>
                <div class="precio" >
                    <p class="descripcion-precio">$750</p>   
                </div>
                <div class="tacho">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div> <br>
            <div class="linea">
                <p></p>
            </div><br>
            <div class="footer">
                <div class="totales">
                    <div class="subtotal">
                        <p id="totales">Subtotal:</p>
        
                    </div>
                    <div>
                        <p id="totales">$750</p>
                    </div>
                </div>
                <div class="totales">
                    <div class="descuento">
                        <p id="totales">Descuento:</p> 
                    </div>
                    <div>
                        <p id="totales">$20</p>
                    </div>
                </div>
                <div class="totales">
                    <div>
                        <p id="totales">Total General:</p>
                    </div>
                    <div>
                        <p id="totales">$750</p>
                    </div>

                </div><br>
                <div class="button-comprar">
                    <button type="submit">Comprar </button>
                </div>

        </div>
    </div>
    </main>






</body>