<!DOCTYPE html>

<%- include('../views/partials/head') %> 
<link rel="stylesheet" href="./css/formDeCarrito.css">
<body>
        <%- include('../views/partials/header') %> 
    <main>
        <div class="linea">
            
        </div>
        <div class="productos">
            <div class="producto-hijo">
                    <img id="img-main" src="./images/gin.jpg">
                <div>
                    <div class="descripcion-precio"> 
                        <p class="descripcion">GIN BOMBAY SAPPHIRE 47° 750ml</p>
                    </div>
                
                    <div class="input-mas-menos">
                         <i class="fas fa-plus"></i> <input id="input-mas-menos" type="text" name="mas-menos"><i class="fas fa-minus"></i>
                    </div>
                </div>
               <div class="precio" >
                    <p class="descripcion-precio">$750</p>   
               </div>
                <div class="tacho">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="producto-hijo">
                    <img id="img-main" src="./images/gin.jpg">
                <div>
                    <div class="descripcion-precio"> 
                        <p class="descripcion">GIN BOMBAY SAPPHIRE 47° 750ml</p>
                    </div>
            
                    <div class="input-mas-menos">
                        <i class="fas fa-plus"></i> <input id="input-mas-menos" type="text" name="mas-menos"><i class="fas fa-minus"></i>
                    </div>
                </div>
                 <div class="precio" >
                    <p class="descripcion-precio">$750</p>   
                </div>
                <div class="tacho">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="producto-hijo">
                    <img id="img-main" src="./images/gin.jpg">
                <div>
                    <div class="descripcion-precio"> 
                        <p class="descripcion">GIN BOMBAY SAPPHIRE 47° 750ml</p>
                    </div>
            
                    <div class="input-mas-menos">
                        <i class="fas fa-plus"></i> <input id="input-mas-menos" type="text" name="mas-menos"><i class="fas fa-minus"></i>
                    </div>
                </div>
                <div class="precio" >
                    <p class="descripcion-precio">$750</p>   
                </div>
                <div class="tacho">
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div> <br>
            <div class="linea">
                <p></p>
            </div><br>
            <div class="footer">
                <div class="totales">
                    <div class="subtotal">
                        <p id="totales">Subtotal:</p>
        
                    </div>
                    <div>
                        <p id="totales">$750</p>
                    </div>
                </div>
                <div class="totales">
                    <div class="descuento">
                        <p id="totales">Descuento:</p> 
                    </div>
                    <div>
                        <p id="totales">$20</p>
                    </div>
                </div>
                <div class="totales">
                    <div>
                        <p id="totales">Total General:</p>
                    </div>
                    <div>
                        <p id="totales">$750</p>
                    </div>

                </div><br>
                <div class="button-comprar">
                    <button type="submit">Comprar </button>
                </div>

        </div>
    </div>
    </main>

    <%- include('../views/partials/footer') %> 




</body>
