<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="./css/detalleProducto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel = "stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
<header>
    <div class="iconos">
    <a href=""><i class="fas fa-arrow-left"></i></a>
    <a href=""><i id="carro" class="fas fa-shopping-cart"></i></a>
    </div>
    <h3 class="desktop" id="navBar"><input/></h3>
    <div class="desktop">
        <a href=""><h2>Home</h2></a>
        <a href=""><h2>Categoria 1</h2></a>
        <a href=""><h2>Categoria 2</h2></a>
        <a href=""><h2>Categoria 3</h2></a>
        <a href=""><h2>Carrito</h2></a>

    </div>
</header>
    <main>
    <div class="producto">
    <img id="imagen" src="./images/thumb_61391_default_big.jpeg">
    <div class="datos">
    <h2 id="nombreProducto">Nombre del producto</h2>
    <h4 id= "descripcion">Descripcion</h4>
    <h5 id="precio">Precio</h5>
    </div>
    <section id="botones">
    <i class="fas fa-plus"></i><span>Cantidad de elementos</span><i class="fas fa-minus"></i>
    <span>Agregar al carrito</span>
    </section>
    </div>
    <h3>Productos relacionados</h3>
    <div class="relacionados">
    <img src="./images/gin.jpg">
    <img src="./images/vodka.jpg">
    <img src="./images/champagne.jpg">
    </div>
    </main>
</body>
