<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="./css/detalleProducto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel = "stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <header>
        <div class="iconos">
            <a href=""><i class="fas fa-arrow-left"></i></a>
            <a href=""><i id="carro" class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="desktop lupa">
            <img id="logo" src="../images/logo-proyectoV2.jpg" alt="logo" >
                <form action="/resultado-busqueda">    
                    <label for="search-bar">
                    <input type="text" name="search-bar" id="search-bar" placeholder="busqueda..."> <p id="busqueda"></p>
                    
                </label>
            </form>
            <i class="fas fa-search" ></i>
            <div class="iconosDesktop">
            <a  href="/formulario"><i id="links" class="fas fa-portrait"></i></a>
            <a  href="/carrito"><i id="links"  class="fas fa-shopping-cart"></i></a>
            </div>
        </div>  
        <div class="desktop">
            <a class="barra-de-cate" href="/"><h2>Home</h2></a>
            <a class="barra-de-cate" href=""><h2>Categoria 1</h2></a>
            <a class="barra-de-cate" href=""><h2>Categoria 2</h2></a>
            <a class="barra-de-cate" href=""><h2>Categoria 3</h2></a>
    
        </div>
    </header>
    <main>
    <div class="producto">
    <img id="imagen" src="./images/thumb_61391_default_big.jpeg">
    <div class="datos">
    <h2 id="nombreProducto">Cerveza Quilmes</h2>
    <h4 id= "descripcion">Cerveza quilmes sabor clasico 340ml</h4>
    <h5 id="precio">$220</h5>
    </div>
    <section id="botones">
    <form action="detalleProducto">

    <button type="button"><i class="fas fa-plus"></i></button><span>15</span><button type="button"><i class="fas fa-minus"></i></button>
    <button type="button">Agregar al carrito</button>
    </form>
</section>
    </div>
    <h3>Productos relacionados</h3>
    <div class="relacionados">
    <img src="./images/gin.jpg">
    <img src="./images/vodka.jpg">
    <img src="./images/champagne.jpg">
    </div>
    </main>
</body>
<footer>
    <div class=textoFooter>
    <i class="fas fa-credit-card"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-truck"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-shield-alt"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
</footer>
