<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/formDeLogin.css">
</head>

<body>

    <head>

    </head>
    <main>
        <section class="form-login">
            <h5>Login</h5>
            <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
            <input class="buttons" type="submit" name="" value="Ingresar">
            <p>
                <a href="#">¿Olvidaste tu contraseña?</a>
            </p>
        </section>
    </main>

</body>

</html>