<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head') %> 
    <link rel="stylesheet" href="/css/formDeRegistro.css">
    <script src="/js/validacionUsuarios.js"></script>
<body>
    <%- include('../views/partials/header') %> 
<main>
    <section>
        <h2 class="titulo">NUEVA CUENTA</h2>
        <article>
            <% if (typeof errors != "undefined") { %>
                <p style="color:red">ERROR!</p> 
                <ul>
                    <% for (let i=0; i<errors.length;i++){ %> 
                    <li>
                        <%= errors[i].msg %> 
                    </li>
                </ul>
                <% } %> 
                <% }  %> 
            <form action="/users/formulario" method ="POST"  enctype="multipart/form-data">
                
             <div class ="flex-all">  
                <div class="flex-left">
                <h4 class="infor">INFORMACION PERSONAL</h4>
                <label for="fName"> Nombre* <br>
            <input  type="text" name="name" placeholder="Nombre" id="fName" >
            </label> 
            <p id="errorName">Este campo es obligatorio y Debes escribir un nombre valido</p> 
            <br> <br>
            <label for="lName"> Apellido* <br>
                <input  type="text" name="surname" placeholder="Apellido" id="lName" >
                </label>
                <p id="errorApellido">Este campo es obligatorio y Debes escribir un apellido valido</p> 
                 <br><br>
            <label for="date"> Edad* <br>
            <input  type="date" name="date" id="date" required>
            </label><br>
            <input type="file" name = "imagenUsuario" id="file" >
            <br>

            <label for="conditions">Acepto los terminos y condiciones 
                <input id ="conditions" type="checkbox" name="conditions" >
            </label> 
            <h3 class="almedio">*Este campo es obligatorio</h3><br><br>
            
        </div>
        
        <div class="flex-rigth">
        <h4 class="infor">INFORMACION DE INICIO DE SESION</h4>

        <label for="email"> Correo electronico <br>
        <input type="email" name="email"  placeholder="Correo Electronico" id="email" >
        </label> 
    
        <br><br>

         <label for="password"> Contraseña <br>
        <input type="password" name="password"  placeholder="Contraseña" id = "password" >
         </label> 
         <p id="errorPassword">Este campo es obligatorio y debes escribir una contraseña valida</p>
         <br><br>

       <label for="repeat-password"> Repetir Contraseña <br>
        <input type="password" name="repeatPassword" placeholder="Contraseña" id="repeatPassword" >
       </label> <br><br>
       <div class="button-submit">
        <button type ="submit" > <h1 class="enviar">Enviar</h1></button>
         </div>
        </div>
        </div> 
        <!-- <div class="button-submit">
       <button type ="submit" > <h1 class="enviar">Enviar</h1></button>
        </div> -->
        </form>
    </article>
    </section>
</main>
</body>
<%- include('../views/partials/footer') %> 
</html>
