<!DOCTYPE html>
<html lang="en">

   <%- include('../views/partials/head') %>  
    <link rel="stylesheet" href="./css/formDeLogin.css">


<body>

    <head>

    </head>
    <main>
        <section class="form-login">
            <h5>Login</h5>
            <label for="username">
            <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
            </label>
            <label for="pswrd">
            <input class="controls" type="password" name="contrase単a" value="" placeholder="Contrase単a">
             </label>
            <input class="buttons" type="submit" name="" value="Ingresar">
            <p>
                <a href="#">多Olvidaste tu contrase単a/</a>
                <a href="formulario">No tenes cuenta?</a>
            </p>
            <form action="" method="POST"></form>
        </section>
    </main>
</body>

</html>