<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/home.css">
    <script src="https://kit.fontawesome.com/be6f779264.js" crossorigin="anonymous"></script>
</head>
<body>
 <header>
     <div id="logo">
         <img src="../images/logo-proyectoV2.jpg" alt="Logo">
     </div>
     <div class="header-flex">
     <div class="search-bar">
         <form action="" method="POST">
             <label for="search-bar">
                 <input type="text" name="search-bar" id="search-bar" placeholder="Buscar...">
             </label>
             <i class="fas fa-search" ></i>
         </form>
     </div>
     <div class="top-header-right">
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-portrait"></i>
     </div>
    </div>
 </header>   
</body>
</html>