<!DOCTYPE html>
<html lang="en">

    <%- include('../views/partials/head') %>  

<body>
  <%- include('../views/partials/header') %> 
 <main>
     <section>
    <article>
        <div class="slider">
          <ul>
            <li><img src="../images/UE 1.png" alt="descuentos"></li>
            <li><img src="../images/UE 2.png" alt="descuentos"></li>
            <li><img src="../images/UE 3.png" alt="descuentos"></li>
            <li><img src="../images/UE 4.png" alt="descuentos"></li>
            <li><img src="../images/UE 5.png" alt="descuentos"></li>
            <li><img src="../images/UE 6.png" alt="descuentos"></li>
          </ul>

        </div>
        <div class="sliderDesktop">
          <ul>
            <li><img src="../images/UE F 1.png" alt="descuentos"></li>
            <li><img src="../images/UE F 2.png" alt="descuentos"></li>
            <li><img src="../images/UE F 3.png" alt="descuentos"></li>
            <li><img src="../images/UE F 4.png" alt="descuentos"></li>
            <li><img src="../images/UE F 5.png" alt="descuentos"></li>
            <li><img src="../images/UE F 6.png" alt="descuentos"></li>
          </ul>

        </div>
    </article>

    <article>
        <br> <br>
        <div class="box-h3">
          <h3 id="h3-text">PRODUCTOS DESTACADOS</h3> 
        </div>
      <div class="main-flex">
        <div class="div-padre">
            <img src="../images/champagne.jpg" alt="champagne">
            <div class="div-hijo">
                <div class="precio-descuento">
                    <p class = "precios">$2.000</p> 
                    <p class = "descuentos">5% OFF</p>
                </div>
                <div class = "descripciones">
                    <p class = "descripcion"><strong>Champagne</strong></p>
                    <div class="a-carrito">
                      <a id="agregar-carrito" href=""> Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-padre">
        <img src="../images/gin.jpg" alt="gin">
            <div class="div-hijo">
                <div class="precio-descuento">
                  <div>
                    <p class = "precios">$2.500</p> 
                    </div>
                    <p class = "descuentos">10% OFF</p>
                     </div>
                    <div class = "descripciones">
                    <p class = "descripcion"><strong>Gin Bombay Sapphire</strong></p>
                    <div class="a-carrito">
                      <a id="agregar-carrito" href=""> Agregar al carrito</a>
                    </div>
            </div>
        </div>
        </div>
        <div class="div-padre">
        <img src="..\images\coronaCerveza.jpg" alt="cerveza">
        <div class="div-hijo">
        <div class="precio-descuento">
            <p class = "precios">$150</p> 
            <p class = "descuentos">6% OFF</p>
            <div class = "descripciones">
            <p class = "descripcion"><strong>Cerveza Corona</strong></p>
            <div class="a-carrito">
              <a id="agregar-carrito" href=""> Agregar al carrito</a>
            </div>
        </div>
        </div>
        </div>
        </div>
        <div class="div-padre">
       <img src="../images/fernet.jpg" alt="fernet">
        <div class="div-hijo">
        <div class="precio-descuento">
            <p class = "precios">$750</p> 
            <p class = "descuentos">5% OFF</p>
             </div>
            <div class = "descripciones">
            <p class = "descripcion"><strong>Fernet Branca</strong></p>
            <div class="a-carrito">
              <a id="agregar-carrito" href=""> Agregar al carrito</a>
            </div>
        </div>
          </div>
        </div>
    </article>
     </section>
 </main>
</body>
<%- include('../views/partials/footer') %> 
</html>