<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/headerHome.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="https://kit.fontawesome.com/be6f779264.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&family=PT+Sans&display=swap" rel="stylesheet">
</head>
<header>
    <div class="iconos">
        <a href=""><i class="fas fa-arrow-left"></i></a>
    </div>
    
    <div class="desktop lupa">
        <img id="logo" src="../images/logo-proyectoV2.jpg" alt="logo" >
            <form action="/resultado-busqueda">    
                <label for="search-bar">
                <input type="text" name="search-bar" id="search-bar" placeholder="busqueda..."> <p id="busqueda"></p>
                
            </label>
        </form>
        <i class="fas fa-search" ></i>
        <div class="iconosDesktop">
            <a href="/login"><i id="links" class="fas fa-portrait"></i></a>
            <a href="/carrito"><i id="links"  class="fas fa-shopping-cart"></i></a>
        </div>
    </div> 
    
    <div class="desktop">

        <a class="barra-de-cate" href="/"><h2>Home</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 1</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 2</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 3</h2></a>

    </div>
    <div class="menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
<body>
 <main>
     <section>
    <article>
        <div class="carrouselDeImagenes">
            <a href="/detalle"><img  id="quilmes" src="./images/thumb_61391_default_big.jpeg"></a>
        </div>
    </article>

    <article>
        <br> <br>
      <h3 id="h3-text">PRODUCTOS DESTACADOS</h3> 
      <div class="main-flex">
        <div class="div-padre">
        <img src="../images/champagne.jpg" alt="champagne">
            <div class="div-hijo">
                <div class="precio-descuento">
                    <p class = "precios">$2.000</p> 
                    <p class = "descuentos">5% OFF</p>
                     </div>
                    <div class = "descripciones">
                    <p class = "descripcion"><strong>Champagne</strong></p>
        </div>
        </div>
        </div>
        <div class="div-padre">
      <img src="../images/gin.jpg" alt="gin">
            <div class="div-hijo">
                <div class="precio-descuento">
                    <p class = "precios">$2.500</p> 
                    <p class = "descuentos">10% OFF</p>
                     </div>
                    <div class = "descripciones">
                    <p class = "descripcion"><strong>Gin Bombay Sapphire</strong></p>
            </div>
        </div>
        </div>
        <div class="div-padre">
      <img src="..\images\coronaCerveza.jpg" alt="cerveza">
      <div class="div-hijo">
        <div class="precio-descuento">
            <p class = "precios">$150</p> 
            <p class = "descuentos">6% OFF</p>
            <div class = "descripciones">
            <p class = "descripcion"><strong>Cerveza Corona</strong></p>
    </div>
    </div>
      </div>
        </div>
        <div class="div-padre">
      <img src="../images/fernet.jpg" alt="fernet">
      <div class="div-hijo">
        <div class="precio-descuento">
            <p class = "precios">$750</p> 
            <p class = "descuentos">5% OFF</p>
             </div>
            <div class = "descripciones">
            <p class = "descripcion"><strong>Fernet Branca</strong></p>
      </div>
    </div>
        </div>
    </article>
     </section>
 </main>
<footer>
    <div class=textoFooter>
    <i class="fas fa-credit-card"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-truck"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-shield-alt"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>

</footer> 
 
</body>
</html>