<!DOCTYPE html>
<html lang="en">

    <%- include('../views/partials/head') %>  

<body>
  <%- include('../views/partials/header') %> 
 <main>
     <section>
    <article>
        <div class="carrouselDeImagenes">
            <a href="/detalle"><img  id="quilmes" src="./images/thumb_61391_default_big.jpeg"></a>
        </div>
    </article>

    <article>
        <br> <br>
      <h3 id="h3-text">PRODUCTOS DESTACADOS</h3> 
      <div class="main-flex">
        <div class="div-padre">
        <img src="../images/champagne.jpg" alt="champagne">
            <div class="div-hijo">
                <div class="precio-descuento">
                    <p class = "precios">$2.000</p> 
                    <p class = "descuentos">5% OFF</p>
                     </div>
                    <div class = "descripciones">
                    <p class = "descripcion"><strong>Champagne</strong></p>
        </div>
        </div>
        </div>
        <div class="div-padre">
      <img src="../images/gin.jpg" alt="gin">
            <div class="div-hijo">
                <div class="precio-descuento">
                    <p class = "precios">$2.500</p> 
                    <p class = "descuentos">10% OFF</p>
                     </div>
                    <div class = "descripciones">
                    <p class = "descripcion"><strong>Gin Bombay Sapphire</strong></p>
            </div>
        </div>
        </div>
        <div class="div-padre">
      <img src="..\images\coronaCerveza.jpg" alt="cerveza">
      <div class="div-hijo">
        <div class="precio-descuento">
            <p class = "precios">$150</p> 
            <p class = "descuentos">6% OFF</p>
            <div class = "descripciones">
            <p class = "descripcion"><strong>Cerveza Corona</strong></p>
    </div>
    </div>
      </div>
        </div>
        <div class="div-padre">
      <img src="../images/fernet.jpg" alt="fernet">
      <div class="div-hijo">
        <div class="precio-descuento">
            <p class = "precios">$750</p> 
            <p class = "descuentos">5% OFF</p>
             </div>
            <div class = "descripciones">
            <p class = "descripcion"><strong>Fernet Branca</strong></p>
      </div>
    </div>
        </div>
    </article>
     </section>
 </main>
</body>
<%- include('../views/partials/footer') %> 
</html>