*{
    background-color: #ffe4c4;
    box-sizing: border-box;
}
#main{
    width: 100vw;
    height: auto;
    align-self: center;
    margin: auto;
    border: solid 1px black;
}
img{
    width: 33%;
    height: 33%;
    margin: 0.5px;
}