div.titulo{
    text-align: center;
}
div.input{
    
}
div.formulario{
    text-align: center;
}
div.row-product-detail{
    display: flex;
    flex-direction: column;
    

}
div.input-buton{
    
}
.input{
    margin: 10px 0px 10px 10px;
}
form-labl{
    
}