
body {
    background-color: #ffe4c4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
main{
    text-align: -webkit-center;
}
.titulo{
    font-family: 'Monoton', cursive;
    font-size: 24px;
}
.infor{
    font-family: 'Monoton', cursive;
    font-size: 14px;
}

p{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
.top-header-flex{
    display: flex;
    justify-content: space-between;
}

.desktop{
    display:none;
}
.header-desktop{
    display:none
}
label{
    display: block;
}

input{
    display: block;
    margin-top: 5px;
    width: 300px;
}

#conditions{
    display: inline;
    width: fit-content;
}

.header-top-right{
    display: inline-flex;
    width: 50px;
    justify-content: space-between;
}

#logo img{
    width:50px ;
}


@media(min-width:720px){
    .top-header-flex{
        display: none;
    }
    .header-desktop{
        display: flex;
        justify-content: space-between;
    }

    .desktop{
        display:flex;
        justify-content: space-between;
        background-color: #efdddd;
    }
    #search-bar{
        width: 250px;
    }
    .lupa{
        display: inline-flex;
        padding-top:30px ;
    }
    header div .lupa i{
        padding-top:7px;
    }

    .desktop-top-header{
        display: inline-flex;
        width: 40px;
        justify-content: space-between;
        padding-top: 19px;
        padding-right: 10px;
    }
    #logo{
        margin-left: 10px;

    }

    .titulo{
        margin-left: 20px;
    }

    .flex-all{
        display: flex;
        justify-content: space-evenly;
    }

    .button-submit{
       padding-left: 45%;
    }

    article button{
        width: 100px;
        height: 50px;
    }
    .fa-search:before{
        padding-left: 10px;
    }
     footer{
        display: flex;
        margin-top: 60px;

    }
    .textoFooter i{
        font-size: 50px;
    }
}
