@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
* {

    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'monoton';
}

.form-login {
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 130px;
    box-shadow: 7px 13px 37px white;
    padding: 30px 40px;
    color: white;
}

.form-login h5 {
    margin: 0px;
    text-align: center;
    height: 24px;
    margin-bottom: 40px;
    font-size: 40px;
    text-transform: uppercase;
    border-top: 5px solid;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}

.controls {
    width: 100%;
    border: 1px solid #D3D3D3;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #D3D3D3;
    font-size: 16px;
    font-weight: pt sans;
}

.buttons {
    width: 40%;
    height: 10%;
    background: #71baff;
    color: white;
    margin-bottom: 16px;
    margin-left: 30%;
    margin-top: 2px;
}

.form-login p {
    
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    margin-inline-start: 30px;
    
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}