*{
    
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
   
}
.desktop{
    display: none;
}
.menu{
    display: block;
    text-align: center;
    font-size: 20px;
}
.iconosDesktop{
    display: none;
    }
#links{
    display: none;
}
.iconos{
    display: none;
}
#logo{
    width: 86px;
    margin-right: 250px;
}
@media (min-width:720px){

header{
    text-align: center;
}
.menu{
    display: none;
}
.iconosDesktop{
    display: flex;
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
    }
#logo{
    display: flex;
    width: 50px;
    height: auto;
    position:absolute;
    left: 10px;
    top: 10px;

}
#search-bar{
    display: flex;
    width: 250px;
}

.desktop.lupa {
    display: flex;
    padding-top:30px ;
    width: 100%;
    align-content: center;
    background-color: #ffe4c4;
    justify-content: center;
    
}
#links{
    display: flex;
    background-color: #ffe4c4;
}
.desktop{ 
    display: flex;
    justify-content: space-between;
    background-color: #efdddd;
    margin: 0px;
}
a{
    color: black;
    background-color: #efdddd;
}
}
