*{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
   
}
.desktop{
    display: none;
}
.menu{
    padding: 12px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.iconosDesktop{
    display: none;
    }
#links{
    display: none;
}
.iconos{
    display: none;
}
.buscarOculto{
    display: none;
}
#logo{
    width: 150px;
    
}
header{
    
    background-color: rgb(0, 0, 0);
}
#burgermenu{
    font-size: 25px;
    color: white;
    
}
#carrito{
   
    color: white;
    font-size: 25px;
}

#lupa{
    font-size: 25px;
    color:white;
    margin-right: 27px;
}
div.busqueda-burger{
    display: flex;
}

@media (min-width:720px){

header{
    text-align: center;
}
.iconosDesktop{
    display: flex;
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
    }
    #logo{
        border:none;
        transition: none;
    box-shadow: none;
    top: 3px;
    }
#search-bar{
    display: flex;
    width: 250px;
}

.desktop.lupa {
    display: flex;
    padding-top:30px ;
    width: 100%;
    align-content: center;
    background-color: #ffe4c4;
    justify-content: center;
    
}
#links{
    display: flex;
    background-color: #ffe4c4;
}
.desktop{ 
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
}
}