*{
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #FFE4C4;
}

a{
    color: black;
}

#h3-text{
    padding-left: 3%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
.carrouselDeImagenes{
    padding-top: 5%;
}
.main-flex{
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}
.div-padre{
    padding-bottom: 10px;
}
.div-hijo{
    text-align: center;
}
main img{
    margin: auto;
    display: block;
    padding-bottom: 5%;
}

@media(min-width:480px){
    .main-flex{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 674px;
        justify-content: space-around;
    }
}

@media(min-width:720px){
    .main-flex{
    max-width: 98%;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    main section article img{
        width:160px;   
       }
       input{
           width: 240px;
       }
    header div img{
    position: relative;
    top: 20px;
    }

}