<footer>
    <div class=textoFooter>
    <i class="fas fa-credit-card"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-truck"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-shield-alt"></i>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>

</footer> 
 