<footer>
    <div class=textoFooter>
    <i class="fas fa-credit-card"></i>
    <p>Podés pagar con tarjeta, débito, efectivo o hasta 12 cuotas con tarjeta.</debito-credito>.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-truck"></i>
    <p>Solo por estar registrado en ABSOLUT tenés envíos gratis en miles de productos.</p>
</div>
<div class="textoFooter">
    <i class="fas fa-shield-alt"></i>
    <p>¿No te gusta? ¡Devolvelo! En ABSOLUT, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
</div>

</footer> 
 