<header>
    <div class="iconos">
        <a href=""><i class="fas fa-arrow-left"></i></a>
    </div>

    </div> 
    <div class="menu">
        <div>
            <i id="burgermenu" class="fas fa-bars"></i>
        </div>

        <div>
            <a href="/">
            <img id="logo" src="/images/para_eue.png" alt="logo" >
            </a>
        </div>
        <div class="busqueda-burger">
            <div>
                <i id="lupa" class="fas fa-search"  ></i>
            </div>
            <div>
               <a href="/carrito"> <i id="lupa" class="fas fa-shopping-cart"></i></a>
            </div>
            <div>
            <a href="/agregar"><i id="lupa" class="fas fa-plus"></i></a>
            </div>
            <div>
               <a href="/users/detalle/<%= user.id %>"> <p style="color: white;">Bienvenido, <%= user.name %> </p> </a>
            </div>
            
        </div>
        
    </div>
    
    <div class="desktop">

        <a class="barra-de-cate" href="/"><h2>Home</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 1</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 2</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 3 </h2></a>

    </div>
    
    
   
</header>