<header>
    <div class="iconos">
        <a href=""><i class="fas fa-arrow-left"></i></a>
    </div>
    
    <div class="desktop lupa">
        <img id="logo" src="../images/logo-proyectoV2.jpg" alt="logo" >
            <form action="/resultado-busqueda">    
                <label for="search-bar">
                <input type="text" name="search-bar" id="search-bar" placeholder="busqueda..."> <p id="busqueda"></p>
                
            </label>
        </form>
        <i class="fas fa-search" ></i>
        <div class="iconosDesktop">

            <a href="/login"><i id="links" class="fas fa-portrait"></i></a>
            <a href="/carrito"><i id="links"  class="fas fa-shopping-cart"></i></a>

        </div>
    </div> 
    
    <div class="desktop">

        <a class="barra-de-cate" href="/"><h2>Home</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 1</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 2</h2></a>
        <a class="barra-de-cate" href=""><h2>Categoria 3</h2></a>

    </div>
    <div class="menu">
        <img id="logo" src="../images/logo-proyectoV2.jpg" alt="logo" >
        <i class="fas fa-bars"></i>


    </div>
</header>